<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">   	
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <main class="p-5">
    <div class="d-flex justify-content-between">
      <h1>Add new show</h1>
      <a href="/">Go back</a>
    </div>
    <form action="/create" class="w-75 ml-5 pl-5" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control">
      </div>
      <div class="form-group">
        <label for="network_id">Netowrk</label>
        <select name="network_id" class="form-control">
          {%for network in all_networks%}
          <option value="{{network.id}}">{{network.name}}</option>
          {%endfor%}
        </select>
      </div>
      <div class="form-group">
        <label for="release_date">Date release</label>
        <input type="date" name="release_date" class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" class="form-control" rows="5"></textarea>
      </div>
      <input type="submit" class="btn btn-primary">
    </form>
  </main>
</body>
</html>