<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">   	
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <main class="p-5 ml-5 mr-5">
    <div class="d-flex justify-content-between">
      <h1>Tv Show {{show.id}}</h1>
      <a href="/">Go back</a>
    </div>
    <div class="p-5">
      <p>Title: {{show.title}}</p>
      <p>Netowrk: {{show.network.name}}</p>
      <p>Release Date: {{show.release_date}}</p>
      <p>Description: {{show.description}}</p>
    </div>
    <div class="d-flex ">
      <a href="/update/{{show.id}}" class="btn btn-primary mr-3">Edit </a>
      <form action="/delete/{{show.id}}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Delete">
      </form>
    </div>
  </main>
</body>
</html>